*{padding: 0; margin:0;border:0;}
*,*:before, *:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active{outline: none;}
a:focus,a:active,a:visited{text-decoration:none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;font-size: 100%;line-height: 1; font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-family: inherit;}

* {
  box-sizing: border-box;
  font-family: Lato;
  font-size: medium;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  padding: 1%;
  width: 80%;
}
.top-container {
  color: #FFE7D1;
}
.middle-container {
  background-color: #FFE7D1;
  color: #4B8E8D;
  width: 100%;
}
h2 {
  color: #396362;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 1em;
}
p {
  line-height: 2;
  letter-spacing: 1px;
}
hr {
  border: dotted #F6C89F 1rem;
  border-bottom: none;
  width: 7%;
  margin: 4rem auto;
}
b {
  font-weight: 700;
}

/*------------------------------ Navigation bar -------------------------------*/
header {
  background-color: rgba(57, 99, 98, 1);
  position: fixed;
  align-items: center;
  color: #FFE7D1;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#logo_name h3 {
  font-family: 'Great Vibes', cursive;
  color: #FFE7D1;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  opacity: 80%;
  padding: 1%;
  transform: skewY(-3deg);
}
#logo_name :last-child h3 {
  display: none;
}
#logo_name_about h3 {
  font-family: 'Great Vibes', cursive;
  color: #FFE7D1;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  opacity: 80%;
  padding: 1%;
  transform: skewY(-3deg);
}
#logo_name_about :last-child h3 {
  display: none;
}
#nav_list ul{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
 .nav_item {
  padding: 0 2rem;
}
.nav_link {
  font-weight: 300;
  color: #FFE7D1;
}
.contact_link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #FFE7D1;
  transition: all 0.3s ease;
}
@media screen and (max-width:1024px){
  .about_container {
    width: 100%;
  }
  .nav_item {
    padding: 0 1rem;
   }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x:hidden;
  }
  header {
    padding: 2% 0;
  }
  #logo_name :first-child h3{
    display: none;
  }
  #logo_name :last-child h3{
    display: block;
    font-size: 2rem;
    padding: 3%;
  }
  #logo_name_about :first-child h3{
    display: none;
  }
  #logo_name_about :last-child h3{
    display: block;
    font-size: 2rem;
    padding: 3%;
  }
  .nav_items  {
  position: absolute;
  right: 0px;
  height:50vh;
  top: 5vh;
  background-color: rgba(57, 99, 98, 1);
  display:flex;
  flex-direction: column;
  width: 40%;
  align-items: space-around;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  }
  .burger{
    display: block;
  }
}
/* Side bar shows when click */
.nav_active {
  transform: translateX(0%);
}
/* Animation for navbar when click on burger */
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px)
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* Animation for burger */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

/* ---------------------------------------Banner--------------------------------- */
#banner {
  height: 100vh;
  min-width: 100vw;
  position: relative;
  background-color: #396362;
  color: #FFE7D1;
}
#title {
  height: 100vh;
  width: 100vw;
  padding: 10rem 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}
#title p {
  max-width: 90%;
}

/* -------------------------------- Title animation ------------------------------- */
#logo-main {
  position: relative;
  border-radius: 50%;
  width: 30%;
  animation: logoMainAnim 1.5s ease;
}
@keyframes logoMainAnim {
  0% {
    opacity: 0;
    transform: scale(0.5)
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animated_title {
  font-family: 'Great Vibes', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 7rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.animated_par {
  font-weight: 300;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.animated_title, .animated_par {
  width: 50rem;
  transform: translateY(120%);
  opacity: 0;
}

@media (max-width: 1024px) {
  #logo-main {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .animated_title {
    font-size: 4rem;
  }
  .animated_par {
    font-size: 1rem;
    text-align: center;
  }
  #logo-main {
    width: 60%;
  }
}

/* -----------------------------------My projects--------------------------------- */
#projects {
  position: relative;
  box-sizing: border-box;
}
.projects-title {
  margin: 1rem;
}
#projects_carousel {
  position: relative;
  margin: auto;
  max-width: 70vw;
}
#projects_images {
  position: relative;
}
.projects-image{
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.projects-image:hover{
  opacity: .8;
}

.slides {
  display: none;
}
/* buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  color: #F6C89F;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 0.25rem;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

.prev:hover, .next:hover {
  color: #F6C89F;
  background: #4B8E8D;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 2rem .5rem;
  background-color: #F6C89F;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #4B8E8D;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media screen and (max-width:1024px){
  #projects {
    display: block;
    max-width: 100%;
  }
  .projects-title {
    font-size: 2.5rem;
    margin: 2% auto;
  }
  .projects_carousel {
    max-width: 100%;
  }
  .projects-image{
    width: 100%;
  }
  .prev, .next {
    font-size: 2rem;
  }
}

.updating {
  opacity: 50%;
}

/* -------------------------------------Skills--------------------------------- */
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.skills-title {
  padding: 0 0 1rem;
}
.logo-skills {
  position: relative;
  border-radius: 50%;
  width: 40%;
}
.skills-items li{
  text-align: left;
  align-items: center;
  line-height: 1.8;
  padding-left: 10%;
}
@media screen and (max-width:1024px){
  #skills {
    display: block;
    width: 100%;
  }
  .skills-title {
    font-size: 2.5rem;
    margin: 2% auto;
  }
  .logo-skills {
    width: 50%;
  }
  .skills-items li{
    letter-spacing: normal;
  }
}
@media screen and (max-width: 768px) {
  .logo-skills {
    width: 60%;
  }
}

/* -------------------------------BUTTONS AND LINKS  ------------------------------------ */
#buttons_about_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link_main {
  color: #4B8E8D;
  font-weight: 400;
  width: 10rem;
  padding: 1rem 0 2rem;
}
.btn_about:hover{
  background-color: #4B8E8D;
  color:  #FFE7D1;
}
.contact-btn {
  background-color: #F6C89F;
  border-radius: 20px;
  color: #4B8E8D;
  text-align: center;
  margin: 3rem 0;
  padding: 1rem;
  font-weight: 400;
  font-size: 100%;
}
.contact-btn:hover{
  background-color: #4B8E8D;
  color:  #FFE7D1;
}
/* Main monogram */
#monogram {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.monogram_svg {
  margin: 2rem auto;
}
svg {
  opacity: 0;
}
/* Animation for Monograms */
.monogram_active_path {
  opacity: 1;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: dash 5s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/* -------------------------------------------CONTACTS--------------------------------- */

.contact-title {
  color:#396362;
  margin: 0 auto;
}
.contact-message {
  color: #4B8E8D;
  margin: 2rem 0;
  letter-spacing: 1px;
  line-height: 2;
}

/* --------------------------------------------FOOTER--------------------------------- */

.bottom-container {
  background-color: #396362;
  padding: 5rem 0 2rem;
}
.footer-link {
  color: #FFE7D1;
  margin: 1rem 4rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
.designer_logo, .designer_logo a {
  color: #FFE7D1;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 3em 0 1em;
}
.designer_logo a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.copyright {
  color: #FFE7D1;
  font-size: 0.75rem;

  text-align: center;
}
.copyright span {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 0.75rem;
}

@media screen and (max-width:1024px){
  .footer-link {
    margin: 1rem 2rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-link {
    margin: 2rem;
  }
  .designer_logo, .designer_logo a {
    font-size: .8rem;
    padding: 2rem 0;
  }
}

/* --------------------------------------------------------------ABOUT PAGE------------------------------------------------------------ */
#about {
  background-color: #FFE7D1;
  color: #4B8E8D;
  width: 50%;
  margin: 0 auto;
}
.about-banner {
  min-height: 40vh;
  width: 100%;
  position: relative;
  background-color: #396362;
  display:flex;
  justify-content: center;
  align-items: center;
}
.about-title {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}
.about-title h2 {
  color:#FFE7D1;
  font-family: 'Great Vibes', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 7.5rem;
  padding: 0 0 20px 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: translateY(80%);
  opacity: 0;
}
#logo-about {
  position: relative;
  border-radius: 50%;
  width: 40%;
  animation: logoMainAnim 1.5s ease;
}
.about-content p{
text-align: left;
}
@media (max-width: 1024px) {
  #about {
    width: 80%;
  }
  .about-title h2{
    font-size: 6rem;
    margin: 2% auto;
  }
  #logo-about {
    width: 50%;
  }
  .about-content p{
    text-align: justify;
    letter-spacing: normal;
  }
  .contact-message {
    letter-spacing: normal;
  }
}
@media screen and (max-width: 768px) {
  #about {
    width: 90%;
  }
  .about-title h2{
    font-size: 4rem;
  }
  #logo-about {
    width: 60%;
  }
}
