*{padding: 0; margin:0;border:0;}
*,*:before, *:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active{outline: none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;font-size: 100%;line-height: 1; font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-family: inherit;}

* {
  box-sizing: border-box;
  font-family: Lato;
  font-size: medium;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 1%;
  width: 70%;
}

.top-container {
  color: #FFE7D1;
}

.middle-container {
  background-color: #FFE7D1;
  color: #4B8E8D;
  width: 100%;
}

h2 {
  color: #396362;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 1em;
}

p {
  line-height: 2;
  letter-spacing: 1px;
}

hr {
  border: dotted #F6C89F 1rem;
  border-bottom: none;
  width: 7%;
  margin: 4rem auto;
}

b {
  font-weight: 700;
}

/*------------------------------ Navigation bar -------------------------------*/

header {
  background-color: rgba(57, 99, 98, 1);
  position: fixed;
  align-items: center;
  color: #FFE7D1;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#logo_name h3{
  font-family: 'Great Vibes', cursive;
  color: #FFE7D1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  opacity: 80%;
  padding: 1%;
  transform: skewY(-3deg);
}

#nav_list ul{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
 .nav_item {
  padding: 0 2rem;
 }
.nav_link {
  font-weight: 300;
  color: #FFE7D1;
}

.contact_link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #FFE7D1;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
  .about_container {
    width: 100%;
  }

  .nav_item {
    padding: 0 1rem;
   }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x:hidden;
  }
  header {
    padding: 2% 0;
  }
    
  #logo_name {
    display: none;
  }

  nav {
    justify-content: flex-end;
  }

  .nav_items  {
  position: absolute;
  right: 0px;
  height:40vh;
  top: 7vh;
  background-color: rgba(57, 99, 98, 1);
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  transform: translateX(100%); 
  transition: transform 0.5s ease-in;
  } 
  .nav_link{
    opacity: 0;
  }

  .burger{
    display: block;
  }
}

/* Side bar shows when click */
.nav_active {
  transform: translateX(0%);
  
}

/* Animation for navbar when click on burger */
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px)
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Animation for burger */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}



/* ---------------------------------------Banner--------------------------------- */

.banner {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #396362;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* Title */
#title {
  box-sizing: border-box;
  color: #FFE7D1;
}

/* -------------------------------- Title animation ------------------------------- */

.animated_title {
  font-family: 'Great Vibes', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 7.5rem;
  padding: 1%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.animated_par {
  font-weight: 300;
  text-align: center;
  padding: 1%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.animated_title, .animated_par {
  display:inline-block;
  width: 40rem;
  padding: 2%;
  transform: translateY(120%);
  opacity: 0;
} 

@media screen and (max-width: 768px) {
  .animated_title {
    font-size: 5rem;
  }
  .animated_par {
    font-size: 1rem;
    text-align: center;
  }
};


/* -----------My projects--------------------------------- */

#projects {
  position: relative;
  box-sizing: border-box;
  padding-top: 5%;
  }



/* -----------Skills--------------------------------- */

#skills {
  position: relative;
  box-sizing: border-box;
  padding-top: 5%;
}

.skills-title {
  padding: 0 0 1rem;
  text-align: left;
}

.logo-skills {
  margin: auto;
  max-width: 100%;
}

.skills-items li{
  text-align: left;
  line-height: 1.8;
}

/* Button to about me page */

#button_to_about_me_page {
  font-size: 500;
  text-align: center;
  color: #4B8E8D;
  width: 25rem,
}
#btn_about {
  background-color: #F6C89F;
  border-radius: 25px;
  color:#4B8E8D;
  padding: 1rem;
}
#btn_about:hover{
  background-color: #4B8E8D;
  color:  #FFE7D1;
}

/* Main monogram */
#monogram {
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

/* Monogram about */
#monogram_about {
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
}

svg {
  opacity: 0;
}

/* Animation for Monograms */
.monogram_active_path {
  opacity: 1;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: dash 5s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


/* Skills section screen 600px??????????????????????? */
@media (min-width: 1024px) {
  .my-skills {
    display: grid;
    grid-template-columns: 250px minmax(0, 1fr);
    grid-template-areas:
      "none title"
      "img content";
    grid-column-gap: 4em;
  }
  .skills-title {
    grid-area: title;
  }
  .skills-content {
    grid-area: content;
  }
  .logo-skills {
    grid-area: img;
  }
}

@media screen and (max-width:1024px){
  .my-skills {
    display: block;
    width: 100%;
  }

  .logo-skills {
    padding: 5%;
  }

  .skills-items li{
    letter-spacing: normal;
  }
}

/* -------------Contact--------------------------------- */

.contact-title {
  color:#396362;
  margin: 0 auto;
}

.contact-message {
  color: #4B8E8D;
  margin: 2rem 0;
  letter-spacing: 1px;
  line-height: 2;
}

.contact-btn {
  background-color:  #F6C89F;
  border-radius: 25px;
  color: #4B8E8D;
  padding: 1rem;
  margin: 2rem 0;
}
.contact-btn:hover{
  background-color: #4B8E8D;
  color:  #FFE7D1;
}

/* -------------Footer--------------------------------- */

.bottom-container {
  background-color: #396362;
  padding: 50px 0 20px;
}

.footer-link {
  color: #FFE7D1;
  margin: 10px 50px;
}

.copyright {
  color: #FFE7D1;
  font-size: 0.75rem;
  padding: 5em 0 0;
  text-align: center;
}

.copyright span {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 0.75rem;
}

/* -------------ABOUT PAGE------------------------------------------ */
#about {
  background-color: #FFE7D1;
  color: #4B8E8D;
  width: 50%;
  margin: 0 auto;
}

.about-banner {
  min-height: 40vh;
  width: 100%;
  position: relative;
  background-color: #396362;
  display:flex;
  justify-content: center;
  align-items: center;
}

.about-title {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.about-title span {
  color:#FFE7D1;
  font-family: 'Great Vibes', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 7.5rem;
  padding: 0 0 20px 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: inline-block;
  transform: translateY(80%);
  opacity: 0;
}
 .logo-about {
   padding: 2rem;
 }

 .about-content p{
  text-align: left;
 }

 @media (max-width: 1024px) {
  #about {
    width: 80%;
  }  

  .about-title span {
    font-size: 5rem;
  }

  .about-content p{
    text-align: justify;
    letter-spacing: normal;
  }

  .contact-message {
    letter-spacing: normal;
  }

  @media (max-width: 768px) {
    .about-title h2 {
      font-size: 5rem;
      width: 80vw;
    }
  }
}